@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(EBGaramond12-Regular.woff) format('woff');
  font-feature-settings: "ss06";
}

html {
    font-family: "EB Garamond"
}
